/*

Title: Blue Tempest
Author: Maugrim_The_Reaper
Created: 23 October 2003
Updated: 5 July 2004	Added: updated almost all styles for the Smarty templates

Style sheets in QS are used mainly to control the colour scheme in the layout. The layout itself is mostly fixed.
You can create a colour scheme by saving any of the QS Star System pages to your harddrive as html docs, adjusting the
<LINK> to where you have this style sheet saved and then editing the various values to what you desire. Colour schemes
submitted by players will be reviewed and so long as they are consistent and reasonably good looking they will be
included as options for all players to use. Please also edit the above credit section!

*/


/* Main properties of pages, scrollbar style is IE only */

body#default_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #000000;
	color: #FFFFFF;
	scrollbar-3d-light-color: #000000;
	scrollbar-arrow-color: #FF6666;
	scrollbar-dark-shadow-color: Gray;
	scrollbar-shadow-color: #A9A9A9;
	scrollbar-highlight-color: #000000;
	scrollbar-base-color: #F5F5DC;
	scrollbar-face-color: #4F4F4F;
	margin: 1px;
}

table.invisible {
	width: 100%;
	padding: 2px;
	text-align: center;
	vertical-align: top;
}

table.full_border {
	width: 100%;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	border: solid 1px #666666;
}

table#footer {
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	border: solid 1px #666666;
}

td#page_leftpanel {
	width: 175px;
	text-align: center;
	vertical-align: top;
}

td#page_centerpanel {
	text-align: left;
	vertical-align: top;
}

td#page_rightpanel {
	width: 202px;
	text-align: center;
	vertical-align: top;
	border: 0px;
}

td.halfwidth {
	width: 50%;
	text-align: left;
	vertical-align: top;
	border-bottom: solid 1px #666666;
}

td.halfwidth_left {
	width: 50%;
	text-align: left;
	vertical-align: top;
	border: 0px;
}

td.halfwidth_right {
	width: 50%;
	text-align: right;
	vertical-align: top;
	border: 0px;
}


/* commonly used coloured bold text (red in red_Tempest Theme) */

.title_text {
	color: red;
	font-weight: bold;
}


/* To maintain a standard heading size under browsers, use these in place of the <h1> to <h4> tags */

.h1 {
	font-size: 32pt;
	font-weight: bold;
}
.h2 {
	font-size: 24pt;
	font-weight: bold;
}
.h3 {
	font-size: 19pt;
	font-weight: bold;
}
.h4 {
	font-size: 16pt;
	font-weight: bold;
}
.h5 {
	font-size: 12pt;
	font-weight: bold;
}
.h6 {
	font-size: 10pt;
	font-weight: bold;
}


/* Styling of both ordered and unordered lists */

ul {
	list-style-type: circle;
}

/* default image attributes */

img {
	border: 0px;
}

/* Properties relating to forms, input boxes, check boxes, etc. */

form {
	font-size: 8pt;
}

input {
	color: #FFFFFF;
	background: #444444;
	font-family: Arial;
	font-size: 10pt;
	border: solid 1px;
	border-color: #666666;
}

select {
	color: #ffffff;
	background: #444444;
	font-family: Arial;
	font-size: 8pt;
	border: solid 1px;
	border-color: #666666;
}

textarea {
	color: #ffffff;
	background: #222233;
	font-family: Arial;
	font-size: 10pt;
	border: solid 1px;
	border-color: #666666;
}

/* ============================================================================================= */
/* ============================================================================================= */
/*                                  Older QS Style Sheet Elements                                */
/* ============================================================================================= */
/* ============================================================================================= */







/* Control of font colour and size in bold text, b should be a span tag */
/* TO BE REVIEWED AND REPLACED, THIS AREA IS FOR OLDER SE DEFAULTS */
b {color: #C0C0C0;}
b.b1 {color: red;}
b.b2 {color: #FFFFFF;}
b.b3 {color: #00FF00;}
b.cloak{color: #555555;}
b.red_txt {font-size: 8pt; color: red; font-weight: bold;}


/*
Some newer font styles for use in QS - some reflect the above older SE variants which use the
<b> tag a little too loosely - adhere to a three colour default for red_Tempest - these open classes will be
used to replace older <b> classes. Not commonly used yet, but don't neglect them or future QS developments
will look an eye-sore under your customised style!

You can use these within <p>, <div>, <span>, or any other tags as needed to alter
bold-text colour across a text section. Note: Never use the <font> tag!
*/

/* Bold Text Colouring */
.bold {
	font-weight: bold;
	color: #C0C0C0;
}
.bold1 {
	font-weight: bold;
	color: red;
}
.bold2 {
	font-weight: bold;
	color: green;
}
.bold3 {
	font-weight: bold;
	color: blue;
}
.bold4 {
	font-weight: bold;
	color: white;
}

/* Normal Text Colouring */
.norm1 {
	color: red;
}
.norm2 {
	color: green;
}
.norm3 {
	color: blue;
}
.norm4 {
	color: white;
}

/* Special Case Text Weight&Colouring */
.cloak {
	font-weight: bold;
	color: #555555;
}



/* Default Text Headings */
/* Note - using <h1...h4> standard html tags for QS has become a chore. It seems all browsers have no agreement on
their size! (yes, I know they are supposed to logical tags, not physical...) In order to keep a continuing standard
look across browsers, now using a set of CSS defined <span> classes. Note - these classes do not necessarily match
the Heading <h1> to <h4> tags...*/

.pagetitle_h4 {
	color: red;
	font-size: 16pt;
	font-weight: bold;
}

/* Hyperlink properties */

a:link {
	text-decoration: none;
	font-weight: normal;
	color:#6666aa;
}
a:visited {
	text-decoration: none;
	font-weight: normal;
	color:#6666aa;
}
a:hover {
	text-decoration: underline;
	font-weight: normal;
	color:#0000FF;
}


/* Menu Button Properties */
a:link.button {
	text-decoration: none;
	color:#6666aa;
	font-size: 12px;
	font-weight: bold;
}
a:visited.button {
	text-decoration: none;
	color:#6666aa;
	font-size: 12px;
	font-weight: bold;
}
a:hover.button {
	text-decoration: underline;
	color:#FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

/* Internal Page menus scheme - e.g. see sub-menu in Ship Transfer pages - IE and Mozilla compatible */
a:link.page_menu {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #6666aa;
	width: 180px;
	height: 15px;
	float: left;
	clear: none;
	background-color: #222233;
	border: 0px;
}
a:visited.page_menu {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #6666aa;
	width: 180px;
	height: 15px;
	float: right;
	clear: none;
	background-color: #222233;
	border: 0px;
}
a:hover.page_menu {
text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #6666aa;
	height: 14px;
	width: 180px;
	background-color: #1D2247;
	border-top: solid 1px #A9A9A9;
	border-bottom: 0px;
	border-right: 0px;
	border-left: solid 1px A9A9A9;
}
a:active.page_menu {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: #6666aa;
	width: 180px;
	height: 14px;
	float: left;
	clear: none;
	background-color: #222233;
	border-top: 0px;
	border-bottom: solid 1px #A9A9A9;
	border-right: solid 1px #A9A9A9;
	border-left: 0px;
}

a:hover.small_link {
	text-decoration: none;
	text-align: center;
	color: #6666aa;
	height: 10px;
	width: 25px;
	background-color: #1D2247;
}

/* Menu Border etc Settings*/

table.menu_border {
	border: solid 1px #666666
}

/* TD determines table font size, TH table heading properties */

td {
	font-size: 8pt;
}

/* Menu Button Font and Border type */

td.menu {
	background: #222233;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
	border-left: solid 1px #000000;
	text-align: center;
	vertical-align: middle;
}

td.bottom {
	border: solid 1px;
	border-color: #666666
}

th {
	color: #ffffff;
	background: #222233;
	background-image: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	border-bottom: solid 1px;
	border-color: #666666;
	text-align: center;
}

th.forumhead {
	color: #C0C0C0;
	border-bottom: solid 1px #666666;
}

/*
These classes control the alternating colours in non bordered spaced tables,
e.g. planet production menu. Commonly used in most listings throughout QS
*/
.tr_bg_alt {background: #222233}
.tr_bg {background: #1D2247}



/* Adjusting border styles - to fix up the shortcomings in default tables */
.border_left {border-left: solid 1px #666666}
.border_right {border-right: solid 1px #666666}
.border_top {border-top: solid 1px #666666}
.border_bottom {border-bottom: solid 1px #666666}
.notopleft {border-bottom: solid 1px #666666; border-right: solid 1px #666666}
.notopright {border-bottom: solid 1px #666666; border-left: solid 1px #666666}
.no_bottom {border: solid 1px #666666; border-bottom: 0px}
.no_top {border: solid 1px #666666; border-top: 0px}



/* Following classes are used in adjusting the above defaults to complete borders, or change certain properties
In all cases simply adjust to use your chosen border colour/size/type.
There is almost nothing else requiring changes in this section apart from above suggestions. */

/* Other general and miscellaneous required "Fix" styles */
.nav {font-family: Arial, Helvetica, sans-serif; color: #000000}
.all {border: solid 1px #666666}
.color_header {color: red; border-bottom: 0px}
.ship_name {text-align: center; color: red; border-bottom: solid 1px #666666}
.cargo_head {font-weight: normal; border-top: solid 1px #666666}
.status {border-bottom: solid 1px #666666; text-align: center}
.emot_td {border-bottom: solid 1px #666666}
.top5plyrs {border-left: solid 1px #666666; color: red}
.top_b {border-top: solid 1px #666666}
.top5 {border-left: solid 1px #666666;border-top: solid 1px #666666}
.ship_edit {font-size: 8pt; color: red; font-weight: bold}
.red_txt {font-size: 8pt; color: red; font-weight: bold} /* used to place standard red/red/red text in default*/
.color_bg {background: #222233; border-bottom: solid 1px #666666; border-right: solid 1px #666666; border-top: solid 1px #666666}
td.bl_txt_center {border-left: solid 1px #666666; text-align: center}