<!--This is the end of the center panel-->
</td>


</tr>
</table>
</div>
</td>
</tr>
</table>


<!--The Footer-->

<div align="center">
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<table id="footer">
	<tr>
		<td style="text-align: center;">
			<div>Quantum Star SE 2.3.0 Beta-2 &copy; 2002-2004 <a href="http://localhost/testqsse/docs/copyright.html" target="_blank">Quantum Star Project and Individual Authors</a><br /><a href="http://www.quantum-star.com" target="_blank">http://www.quantum-star.com</a><br />Quantum Star SE is optimised for 1024x768 resolution and <a href="http://www.mozilla.org/" target="_new">Mozilla Firefox 0.8/ Mozilla 1.5</a> or better.</div>
		</td>
	</tr>
</table>
<br />
</div>


</body>
</html>