<br /><br /><br />
</p>
<p>
Database tables for the Base Server component of {$app_name} have been added to your database. You may now proceed to the Q-LIB Game Manager, a utility which will allow you to create and/or delete games from the server. This utility may be used separately from the {$app_name} Install Utility. You should remember to delete all games prior to installing a new version of {$app_name}.
</p>
<p>
Thank you for installing {$code_base}! Once you have created a first game, you will be able to login under the &quot;Admin&quot; account with the Admin password you earlier set as a Server Option. Note that the &quot;Admin&quot; password is not the same as the Server Administrator password you set during configuration - the configuration password is used primarily to restrict access to the {$app_name} Install Utility, and any available scheduled maintenance this server may require.
</p>
<p>
Please continue to the {$app_name} Game Manager.
</p>
<p>
	<form method="post" action="game_manager.php" id="continuance">
	<input type="submit" name="submit" value="Continue" />
	</form>
</p>

<div>
<!-- Insert a little space and keep the footer low -->
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
</div>

<!--This is the end of the center panel-->
</td>

<!--No right side panel for SQL listing-->

</tr>
<tr>
<td colspan="3" id="page_footer">
<!--This is the footer cell visible at the bottom of all pages-->

	<p>
		<br /><br /><br /><br /><br />
		{$this_version} &copy; 2004 <a onclick="window.open(this.href,'_blank');return false;" href="../docs/copyright.html">Quantum Star SE Developers</a>
		<br />
		Default Install Theme &copy; 2004 Maugrim The Reaper and <a onclick="window.open(this.href,'_blank');return false;" href="../docs/copyright.html">Quantum Star SE Developers</a>
		<br />
		Original Install Code &copy; 2003, 2004 <a href="../docs/tki-copyright.html" onclick="window.open(this.href,'_blank');return false;">TKI Developers</a>
		<br /><br /><br /><br /><br />
	</p>
	<div style="text-align: center;">
		<img src="../core/images/standards/valid-xhtml11.png" alt="Valid XHTML 1.1!" /><img src="../core/images/standards/vcss.png" alt="Valid CSS!" />
	</div>

<!--This is the end of the footer cell-->
</td>
</tr>
</table>
<!--This is the end of the "holding" table created per Step Three-->

</body>
</html>